<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- favicon -->
  <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon" />
  <!-- font awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
  <!-- normalize css -->
  <link rel="stylesheet" href="/css/normalize.css" />
  <!-- main css -->
  <link rel="stylesheet" href="/css/main.css" />
  <title>
    <%=pageTitle%>
  </title>
</head>

<body>
  <form class="task-form" action="/" method="post">
    <h4>task manager</h4>
    <div class="form-control">
      <input type="text" name="name" class="task-input" placeholder="e.g. wash dishes" />
      <button type="submit" class="btn submit-btn">submit</button>
    </div>
    <div class="form-alert"></div>
  </form>
  <section class="tasks-container">
    <p class="loading-text">Loading...</p>
    <div class="tasks">
      <!--completed-->
      <% for(let task of tasks) { %>
        <div class="single-task <%=task.completed && 'task-completed'%>">
          <h5><span><i class="far fa-check-circle"></i></span>
            <%=task.name%>
          </h5>
          <div class="task-links">


            <!-- edit link -->
            <a href="/editTask/<%= task._id %>" class="edit-link">
              <i class="fas fa-edit"></i>
            </a>
            <!-- delete btn -->
            <form action="/delete" method="post">
              <input type="hidden" value="<%= task._id %>" name="taskId">
              <button type="submit" class="delete-btn" >
                <i class="fas fa-trash"></i>
              </button>
            </form>

          </div>
        </div>
        <% } %>
    </div>
  </section>
  <!-- axios -->
  <!-- <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/public/edit-task.js"></script> -->
</body>

</html>